@import '/src/styles/colors';
@import '/src/styles/support';

.mat-column-select {
    overflow: initial;
}

.bulk-select {
    margin-right: 1rem;
}
@include media-md {
    .bulk-select {
        margin-right: 1rem;
    }
}
