@import '/src/styles/support';

.mat-column-select {
    overflow: initial;
}

.bulk-select {
    margin-right: 0rem;
}
@include media-md {
    .bulk-select {
        margin-right: 1rem;
    }
}
.ripple {
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }
}
.mat-column-rating .rating-count {
    font-weight: 600;
}
