@import '/src/styles/support';
@import '/src/styles/colors';
.address-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;

    mat-card {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        mat-card-content {
            flex: 1 1 100%;
        }
        mat-card-actions {
            margin: 0;
        }
    }

    @include media-lg {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        flex: 1 1 50%;
    }
}
.table-container {
    margin-bottom: 1rem;
}

.container {
    max-width: 1300px;
}

.update-cart {
    display: flex;
    justify-content: flex-end;
}

.total-price {
    font-weight: 500;
}
.total-price-val {
    padding-left: 0.5rem;
}

.order-actions {
    display: flex;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    mat-form-field {
        padding: 0 0.5rem;
    }
}

.total-cell {
    padding: 1rem 0;
    width: 484px;
    font-weight: 500;
}
.total-cell-val {
    font-weight: 500;
}
