<div class="layout"
    [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary"
        class="top-bar">
        <div class="main-title">
            <button mat-mini-fab
                class="toggle-menu-btn"
                aria-label="toggle sidebar"
                (click)="sidebarOpen = sidebarOpen ? false : true">
                <mat-icon *ngIf="sidebarOpen">menu</mat-icon>
                <mat-icon *ngIf="!sidebarOpen">arrow_back</mat-icon>
            </button>
            <h1 class="app-name">Admin Panel</h1>
        </div>
        <div style="flex: auto">
        </div>
        <button mat-mini-fab
            aria-label="log out"
            (click)="authService.logout()"
            class="toggle-menu-btn">
            <mat-icon>logout</mat-icon>
        </button>

    </mat-toolbar>

    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav
            [opened]="sidebarOpen"
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <app-nav-item *ngFor="let navItem of routes"
                    [item]="navItem"></app-nav-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="sidenav-content">
                <ng-content></ng-content>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<app-notifications></app-notifications>