@import '/src/styles/support';
form {
    display: flex;
    flex-flow: column;

    button[type='submit'] {
        margin-top: 32px;
    }
}
.login-container {
    padding: 32px 16px;
    @include media-md {
        padding: 64px 32px;
    }
}

.staging-message {
    margin-top: -48px;
    color: red;
    margin-bottom: 64px;
    font-size: 0.875rem;
}
