$c-primary: #d3ac2b;
$c-primary-dark: #836b1a;
$c-accent: #0c4a60;
$c-accent-dark: #072b39;

$c-head: #a8a8a8;

$c-top-header-bg: $c-primary;
$c-top-header-font: white;
$c-top-header-icon: white;

$c-shadow-white: #e8eafc;
$c-shadow-gray: #b2b2b21a;
$c-shadow-dark-gray: #9a9a9a1a;

$c-success: #38c172;
$c-success-dark: #1f9d55;
$c-warn: #e2401c;
$c-warn-dark: #c03718;
$c-info: #3d9cd2;
$c-info-dark: #3485b3;
