$c-primary: #d3ac2b;
$c-primary-dark: #836b1a;
$c-accent: #836b1a;
$c-accent-dark: #072b39;

$c-head: #a8a8a8;

$c-top-header-bg: $c-primary;
$c-top-header-font: white;
$c-top-header-icon: white;

$c-shadow-white: #e8eafc;
$c-shadow-gray: #b2b2b21a;
$c-shadow-dark-gray: #9a9a9a1a;
