<app-layout>
    <mat-toolbar class="page-header">
        <h1>Edit Review</h1>
    </mat-toolbar>
    <div class="container">
        <mat-card *ngIf="loading.display$ | async"
            class="load-indicator mat-elevation-z3">
            <mat-card-title *ngIf="authorNameTitle">
                <h4>
                    Edit review by {{authorNameTitle}}
                </h4>
            </mat-card-title>
            <div class="skel-load"
                style="height:24px; margin-bottom: 1rem">
            </div>
            <div class="skel-load"
                style="height:24px; margin-bottom:1rem;width: 100%">
            </div>
            <div class="skel-load"
                style="height:14px; margin-bottom: .5rem;width: 100%">
            </div>
            <div class="skel-load"
                style="height:14px; margin-bottom: .5rem;width: 100%">
            </div>
            <div class="skel-load"
                style="height:14px; margin-bottom: .5rem;width: 100%">
            </div>
            <div class="skel-load"
                style="height:14px; margin-bottom: .5rem;width: 100%">
            </div>
            <div class="skel-load"
                style="height:14px; margin-bottom: .5rem;width: 100%">
            </div>
            <div class="skel-load"
                style="height:14px; margin-bottom: .5rem;width: 100%">
            </div>
            <div style="display:flex;width: 17rem">
                <div class="skel-load"
                    style="height:32px; margin-top: 1.5rem;margin-right:1rem;flex: auto;">
                </div>
                <div class="skel-load"
                    style="height:32px; margin-top: 1.5rem;flex: auto;">
                </div>
            </div>

        </mat-card>
        <mat-card [hidden]="loading.display$ | async"
            class="content mat-elevation-z3">
            <mat-card-title *ngIf="authorNameTitle">
                <h4>
                    Edit review by {{authorNameTitle}}
                </h4>
            </mat-card-title>
            <form class="edit-form"
                (submit)="edit()"
                [formGroup]="editForm">
                <mat-form-field>
                    <mat-label>Author name</mat-label>

                    <input required
                        formControlName="authorName"
                        matInput
                        placeholder="Author name">
                    <mat-error *ngIf="authorName.hasError('required')">Author name is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Author email</mat-label>

                    <input required
                        formControlName="authorEmail"
                        matInput
                        placeholder="Author email">
                    <mat-error *ngIf="authorEmail.hasError('required')">Author name is required.
                    </mat-error>
                </mat-form-field>
                <div>
                </div>
                <mat-form-field appearance="none">
                    <mat-label>Rating</mat-label>
                    <app-rate-item ngDefaultControl
                        formControlName="rating"></app-rate-item>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Review text</mat-label>
                    <textarea requried
                        formControlName="content"
                        rows="10"
                        matInput
                        placeholder="Review text"></textarea>
                </mat-form-field>

                <div class="bottom-buttons">
                    <button mat-flat-button
                        (click)="back()"
                        class="icon-button"
                        color="accent"
                        type="button">
                        <mat-icon>arrow_back</mat-icon>
                        Back
                    </button>
                    <button mat-flat-button
                        class="icon-button"
                        [disabled]="editForm.invalid"
                        color="primary"
                        type="submit">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                </div>
            </form>
        </mat-card>
    </div>
</app-layout>