<app-layout>
    <mat-toolbar class="page-header">
        <h1>Orders</h1>
    </mat-toolbar>
    <mat-card class="mat-elevation-z3">
        <mat-card-title>
            <h4>
                {{itemsQuery.search ? 'Orders for query "' + itemsQuery.search + '"' : 'All Orders'}}
            </h4>
        </mat-card-title>
        <mat-form-field class="bulk-select">
            <mat-label>Bulk actions</mat-label>
            <mat-select #selAction="ngModel"
                ngModel
                name="selAction">
                <mat-option *ngFor="let action of bulkActions"
                    [value]="action.value">
                    {{action.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="search-container">
            <input matInput
                placeholder="Search orders"
                name="search"
                #search>
        </mat-form-field>
        <div class="empty-table-message"
            *ngIf="!dataSource.totalItems && !(dataSource.loading$ | async)">No items found.</div>
        <div class="spinner-container"
            *ngIf="dataSource.loading$ | async">
            <mat-spinner></mat-spinner>
        </div>
        <div [hidden]="!dataSource.totalItems || (dataSource.loading$ | async)">
            <form class="table-container ">
                <mat-table [dataSource]="dataSource"
                    matSort
                    matSortActive="createdAt"
                    matSortDirection="asc"
                    matSortDisableClear>

                    <ng-container matColumnDef="select">
                        <th mat-header-cell
                            *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell
                            *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="view">
                        <th mat-header-cell
                            *matHeaderCellDef>
                            <button mat-mini-fab
                                class="view-item-btn">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </th>
                        <td mat-cell
                            *matCellDef="let item">
                            <button mat-mini-fab
                                class="view-item-btn"
                                [routerLink]="['/dashboard','orders', 'edit', item._id]">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="customer">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header>Customer</mat-header-cell>
                        <mat-cell *matCellDef="let item">
                            {{item.shippingAddress.first_name + ' ' + item.shippingAddress.last_name}}
                            ({{item.shippingAddress.email}})</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header>Total</mat-header-cell>
                        <mat-cell *matCellDef="let item">
                            {{item.total |  currency:'USD':'':'1.2-2':'en-us'}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header>Status</mat-header-cell>
                        <mat-cell *matCellDef="let item">{{getOrderStatus(item.status)}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header>date</mat-header-cell>
                        <mat-cell *matCellDef="let item">
                            {{item.createdAt | date: 'd MMM yyyy HH:mm'}}
                        </mat-cell>

                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                </mat-table>
            </form>


            <mat-paginator class=""
                [length]="dataSource.totalItems"
                [pageSize]="itemsQuery.limit"
                [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
        </div>
    </mat-card>
</app-layout>