@import '/src/styles/colors';
@import '/src/styles/support';

.mat-column-select {
    overflow: initial;
}

@include media-md {
    .bulk-select {
        margin-right: 1rem;
    }
}

.ripple {
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }
}
