@import '/src/styles/colors';
@import '/src/styles/support';

.table-container {
    mat-table {
        // box-shadow: 0 3px 11px 0 $c-shadow-white, 0 3px 3px -2px $c-shadow-gray, 0 1px 8px 0 $c-shadow-dark-gray;

        min-width: 1200px;
    }
    max-width: 100%;
    overflow-x: auto;
}

.search-container,
.bulk-select {
    width: 100%;
    max-width: 300px;
}
.mat-column-select {
    overflow: initial;
}
.table-container td,
.table-container th {
    border: 0;
}

.bulk-select {
    margin-right: 1rem;
}
@include media-md {
    .bulk-select {
        margin-right: 1rem;
    }
}

.ripple {
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }
}
