
:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    .menu-list-item .mat-list-item-content {
        width: 100%;
    }
}

[mat-list-item] {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;

    mat-icon.item-icon {
        margin-right: 15px;
    }
}

