<a mat-list-item
    [style.padding-left]="(depth * 12) + 'px'"
    (click)="onItemSelected(item)"
    [ngClass]="{'active': item.path ? router.isActive(item.path, true): false, 'expanded': expanded}"
    class="menu-list-item noselect">
    <mat-icon class="item-icon">{{item.icon}}</mat-icon>
    {{item.name}}
    <span style="display:flex;flex: 1 1 auto;"
        *ngIf="item.children && item.children.length">
        <span style="flex: 1 1 auto;"></span>
        <mat-icon class="noselect"
            [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
            expand_more
        </mat-icon>
    </span>
</a>
<div *ngIf="expanded">
    <app-nav-item *ngFor="let child of item.children"
        [item]="child"
        [depth]="depth+1">
    </app-nav-item>
</div>