.half,
.full {
    width: 12px;
    height: 24px;
    position: absolute;
    display: inline-block;
    background: transparent;
}
:host {
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
}
.star-elem {
    position: relative;
    color: #ecc94b;
}
