/* @import 'styles/colors';

@import '~@angular/material/theming';

@include mat-core();

// The warn palette is optional (defaults to red).
$c-warn: mat-palette($mat-red);

$c-accent: (
    50: $c-accent,
    100: $c-accent,
    200: $c-accent,
    300: $c-accent,
    400: $c-accent,
    500: $c-accent,
    600: $c-accent,
    700: $c-accent,
    800: $c-accent,
    900: $c-accent,
    A100: $c-accent,
    A200: $c-accent,
    A400: $c-accent,
    A700: $c-accent,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    ),
);

$c-primary: (
    50: $c-primary,
    100: $c-primary,
    200: $c-primary,
    300: $c-primary,
    400: $c-primary,
    500: $c-primary,
    600: $c-primary,
    700: $c-primary,
    800: $c-primary,
    900: $c-primary,
    A100: $c-primary,
    A200: $c-primary,
    A400: $c-primary,
    A700: $c-primary,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    ),
);

$c-primary: mat-palette($c-primary);
$c-accent: mat-palette($c-accent);
$c-warn: mat-palette($mat-red);
$c-theme: mat-light-theme($c-primary, $c-accent, $c-warn);
@include angular-material-theme($c-theme); */
@import 'styles/colors';
@import '~@angular/material/theming';
@import 'app/shared/components/nav-item/nav-item.component.scss-theme.scss';
@import '/src/styles/skeleton-load.scss';
@include mat-core();

$c-primary: mat-palette($mat-indigo);
$c-accent: mat-palette($mat-pink, A200, A100, A400);
$c-warn: mat-palette($mat-red);
$c-primary-dark: mat-palette($mat-purple, 700, 500, 800);
$c-accent-dark: mat-palette($mat-green, A200, A100, A400);
$c-warn-dark: mat-palette($mat-red);

$theme: mat-light-theme($c-primary, $c-accent, $c-warn);
$theme-dark: mat-dark-theme($c-primary-dark, $c-accent-dark, $c-warn-dark);

$c-head: #a8a8a8;

@mixin define-colors() {
}

.theme-light {
  @include angular-material-theme($theme);
  @include nav-item-component-theme($theme);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $config: mat-get-color-config($theme);

  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  @debug $foreground;

  --c-chart-line: #{mat-color($primary, 500)};
  --c-chart-point: #{mat-color($accent, 700)};
  --c-chart-point-hover: #{mat-color($accent, 900)};
  --c-chart-grid: #{map-get($foreground, divider)};
  --c-chart-ticks: #{map-get($foreground, secondary-text)};
  --c-chart-z-line: #{map-get($foreground, secondary-text)};
  --c-chart-font: #{map-get($foreground, text)};
  --c-chart-tooltip-bg: #{map-get($primary, 600)};
  --c-chart-tooltip-title: #{mat-contrast($primary, 600)};
  --c-chart-tooltip-body: #{mat-contrast($primary, 600)};

  a {
    color: mat-color($accent, 600);
    &:hover {
      color: mat-color($accent, 900);
    }
  }

  button.mat-mini-fab[mat-mini-fab] {
    // color: mat-color($foreground, base);
    box-shadow: none;
  }
  mat-toolbar.mat-toolbar {
    background-color: transparent;
  }
  .dark-mode-icon {
    color: mat-color(mat-palette($mat-yellow));
  }
  .skel-load {
    @include skeleton-loader(linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent), #ddd);
  }
  mat-cell.mat-cell {
    color: mat-color($foreground, text);
  }
}

.theme-dark {
  @include angular-material-theme($theme-dark);
  @include nav-item-component-theme($theme-dark);

  $foreground: map-get($theme-dark, foreground);
  $config: mat-get-color-config($theme-dark);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  --c-chart-line: #{mat-color($primary, 500)};
  --c-chart-point: #{mat-color($accent, 700)};
  --c-chart-point-hover: #{mat-color($accent, 900)};
  --c-chart-grid: #{map-get($foreground, divider)};
  --c-chart-ticks: #{map-get($foreground, secondary-text)};
  --c-chart-z-line: #{map-get($foreground, secondary-text)};
  --c-chart-font: #{map-get($foreground, text)};
  --c-chart-tooltip-bg: #{map-get($primary, 600)};
  --c-chart-tooltip-title: #{mat-contrast($primary, 600)};
  --c-chart-tooltip-body: #{mat-contrast($primary, 600)};

  a {
    color: mat-color($accent);
    &:hover {
      color: mat-color($accent);
    }
  }
  button.mat-mini-fab[mat-mini-fab] {
    // color: mat-color($foreground, base);
    box-shadow: none;
  }
  mat-toolbar.mat-toolbar {
    background-color: transparent;
  }
  .dark-mode-icon {
    color: map-get($foreground, secondary-text);
  }
  .skel-load {
    @include skeleton-loader(linear-gradient(90deg, transparent, rgba(90, 90, 90, 0.4), transparent), #333);
  }
}

.mat-display-1 {
  color: $c-head;
}

mat-toolbar,
mat-sidenav {
  .material-icons {
    font-size: 28px;
    padding-bottom: 5px;
    padding-right: 3px;
  }
}

button.mat-mini-fab {
  height: 36px;
  width: 36px;
  .mat-button-wrapper {
    padding: 0;
  }
}
button.back-btn {
  margin: 1rem;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

mat-toolbar.page-header {
  display: flex;
  justify-content: space-between;
  padding: 50px 24px 16px 1rem;
  background: none;
  height: auto;
  h1 {
    font-weight: 400;
    font-size: 38.4px;
    color: #b9b9b9;
    line-height: 1;
    letter-spacing: -0.2186px;
  }
}

button.mat-mini-fab[mat-mini-fab] {
  background-color: transparent !important;
  box-shadow: none;
}
button.mat-mini-fab.view-item-btn {
  display: inline-block;
  margin: 0 16px;
}

.menu-list-item.mat-list-item .mat-list-item-content {
  flex: 1 1 100%;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mat-table.mat-table td,
mat-table.mat-table th {
  border: 0;
}
mat-row.ripple {
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}

mat-card {
  margin: 1rem;
}
mat-card-title.mat-card-title {
  margin-bottom: 0;
  h4 {
    font-size: 24px;
    font-weight: 500;
    color: #b9b9b9;
    margin-bottom: 1.5rem;
  }
}

mat-form-field.mat-form-field-type-rating-input .mat-form-field-infix {
  padding-bottom: 0;
}
button.mat-button.with-icon .mat-button-wrapper {
  display: flex;
  align-items: center;
}
